[Desktop Entry]
Version=1.0
Type=Application
Name=Landing Page
GenericName=Landing Page
Comment=Landing page - Expert en Transformation Agile & Gestion IT
Exec=/home/egx/Bureau/APPS/PAGE_VENTE/launch-gui.sh
Icon=/home/egx/Bureau/APPS/PAGE_VENTE/icon-landing-page.png
Terminal=true
Categories=Network;WebBrowser;Office;
Keywords=landing;page;vente;agile;IT;transformation;consulting;commercial;
StartupWMClass=Landing-Page-Final 